**WEEK 1**

# **PHYTHON TUTORIAL**

In [ ]:
print("Hello, World!")

Hello, World!

In [ ]:
import sys
print (sys.version)

3.11.13 (main, Jun  4 2025, 08:57:29) [GCC 11.4.0]

# **1. Python Syntax**

**SYNTAX :**

## **A. Python Indentation**

In [ ]:
if 5 > 2:
  print("five is greater than two!")

five is greater than two!

In [ ]:
if 5 > 2:
print("five is greater than two!")

IndentationError: expected an indented block after 'if' statement on line 1 (ipython-input-4-2404378498.py, line 2)

Kesalahan dalam kode yang dipilih adalah IndentationError. Dalam Python, blok kode yang mengikuti pernyataan seperti if harus diberi indentasi (menjorok ke dalam). Pernyataan print tidak diberi indentasi, sehingga menyebabkan kesalahan. Saya akan memperbaikinya dengan menambahkan empat spasi sebelum pernyataan print.

In [ ]:
if 5 > 2:
 print("Five is greater than two!")
if 5 > 2:
        print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

In [ ]:
if 5 > 2:
 print("Five is greater than two!")
        print("Five is greater than two!")

IndentationError: unexpected indent (ipython-input-6-3430240237.py, line 3)

Kesalahan dalam kode yang dipilih adalah IndentationError. Dalam Python, indentasi yang tidak konsisten dalam blok kode yang sama akan menimbulkan kesalahan ini. Pernyataan print kedua diberi indentasi lebih jauh daripada yang pertama, yang tidak diperbolehkan dalam blok if yang sama. Saya akan memperbaikinya dengan menyelaraskan indentasi kedua pernyataan print.

## **B. Python Variables**

In [ ]:
x = 5
y = "Hello, World!"

In [ ]:
#This is a comment.
print("Hello, World!")

Hello, World!

# **2. Python Comments**

In [ ]:
#This is a comment
print("Hello, World!")

Hello, World!

In [ ]:
print("Hello, World!") #This is a comment

Hello, World!

In [ ]:
#print("Hello, World!")
print("Cheers, Mate!")

Cheers, Mate!

In [ ]:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

Hello, World!

In [ ]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

# **3. Python Variables**

## **A. PYTHON VARIABLES**

### **a. Creating Variables**

In [ ]:
x = 5
y = "Ariel"
print(x)
print(y)

5
Ariel

In [ ]:
x = 4       # x is of type int
x = "Ariel" # x is now of type str
print(x)

Ariel

### **b. Casting**

In [ ]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

### **c. Get the Type**

In [ ]:
x = 5
y = "Ariel"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

Kode ini digunakan untuk mengetahui tipe data dari sebuah variabel menggunakan fungsi type().

x = 5 membuat variabel x dan memberinya nilai integer 5.\
y = "Ariel" membuat variabel y dan memberinya nilai string "Ariel".\
print(type(x)) mencetak tipe data dari variabel x.\
Karena x berisi nilai integer 5, outputnya akan menampilkan <class 'int'>.\
print(type(y)) mencetak tipe data dari variabel y. Karena y berisi nilai string "Ariel", outputnya akan menampilkan <class 'str'>.\
Fungsi type() sangat berguna untuk memahami tipe data dari variabel dalam program Python Anda.

### **d. Single or Double Quotes?**

In [ ]:
x = "Ariel"
# is the same as
x = 'Ariel'

Kode ini menunjukkan bahwa dalam Python, Anda dapat menggunakan tanda kutip tunggal (') atau tanda kutip ganda (") untuk mendefinisikan string (teks).

x = "Ariel" mendefinisikan variabel x dengan nilai string "John" menggunakan tanda kutip ganda.\
x = 'Ariel' juga mendefinisikan variabel x dengan nilai string "John" menggunakan tanda kutip tunggal.\
Kedua cara tersebut valid dan menghasilkan hasil yang sama. Anda bisa menggunakan salah satunya secara konsisten dalam kode Anda.

### **e. Case-Sensitive**

In [ ]:
a = 4
A = "Ariel"
#A will not overwrite a

Kode ini mendemonstrasikan bahwa Python peka terhadap huruf besar/kecil (case-sensitive) saat menentukan variabel.

a = 4 membuat variabel bernama a dan memberinya nilai integer 4.\
A = "Ariel" membuat variabel baru bernama A dan memberinya nilai string "Ariel".\
Meskipun namanya terlihat mirip (a dan A), Python memperlakukannya sebagai dua variabel yang berbeda karena perbedaan penggunaan huruf besar. Variabel A tidak menimpa atau menggantikan variabel a.

## **B. Variable Names**

### **a. Variable Names**

In [ ]:
myvar = "Ariel"
my_var = "Ariel"
_my_var = "Ariel"
myVar = "Ariel"
MYVAR = "Ariel"
myvar2 = "Ariel"

Kode ini mendemonstrasikan berbagai cara valid untuk memberi nama variabel dalam Python.

myvar = "Ariel"\
my_var = "Ariel"\
_my_var = "Ariel"\
myVar = "Ariel"\
MYVAR = "Ariel"\
myvar2 = "Ariel"

Semua nama variabel di atas adalah valid menurut aturan penamaan variabel Python:

Nama variabel harus dimulai dengan huruf atau karakter garis bawah (_).\
Nama variabel hanya boleh berisi karakter alfanumerik (A-Z, a-z, 0-9) dan garis bawah (_).\
Nama variabel peka terhadap huruf besar/kecil (myvar, myVar, dan MYVAR adalah tiga variabel yang berbeda).\
Kode ini menunjukkan fleksibilitas dalam menamai variabel selama aturan tersebut diikuti.

In [ ]:
2myvar = "Ariel"
my-var = "Ariel"
my var = "Ariel"

SyntaxError: invalid decimal literal (ipython-input-34-2535849005.py, line 1)

Kode yang Anda pilih menghasilkan SyntaxError. Ini terjadi karena ada kesalahan dalam cara penamaan variabel. Dalam Python, nama variabel memiliki beberapa aturan:

Nama variabel tidak boleh dimulai dengan angka. Baris 2myvar = "Ariel" melanggar aturan ini.
Nama variabel tidak boleh mengandung tanda hubung (-). Tanda hubung dianggap sebagai operator pengurangan. Baris my-var = "Ariel" melanggar aturan ini.

Nama variabel tidak boleh mengandung spasi. Baris my var = "Ariel" melanggar aturan ini.
Karena aturan penamaan variabel ini dilanggar, Python tidak dapat mengenali 2myvar, my-var, dan my var sebagai nama variabel yang valid, sehingga menghasilkan SyntaxError.

### **b. Camel Case**

In [ ]:
myVariableName = "Ariel"

### **c. Pascal Case**

In [ ]:
MyVariableName = "Ariel"

### **d. Snake Case**

In [ ]:
my_variable_name = "Ariel"

## **C. Python Variables - Assign Multiple Values**

### **a. Many Values to Multiple Variables**

In [ ]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

### **b. One Value to Multiple Variables**

In [ ]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

Kode ini menunjukkan cara menugaskan (assign) satu nilai yang sama ke beberapa variabel dalam satu baris di Python.

x = y = z = "Orange" menugaskan string "Orange" ke tiga variabel sekaligus: x, y, dan z.\
print(x) akan mencetak nilai dari x, yaitu "Orange".\
print(y) akan mencetak nilai dari y, yaitu "Orange".\
print(z) akan mencetak nilai dari z, yaitu "Orange".\
Ini adalah cara singkat untuk menginisialisasi beberapa variabel dengan nilai awal yang sama.

### **c. Unpack a Collection**

In [ ]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

Kode ini mendemonstrasikan cara "membongkar" (unpack) elemen-elemen dari sebuah koleksi (dalam hal ini, sebuah list) ke dalam variabel-variabel terpisah.

fruits = ["apple", "banana", "cherry"] membuat sebuah list bernama fruits yang berisi tiga string: "apple", "banana", dan "cherry".\
x, y, z = fruits adalah bagian "membongkar".\ Ini mengambil elemen pertama dari list fruits dan menugaskannya ke variabel x, elemen kedua ke variabel y, dan elemen ketiga ke variabel z.\
print(x) akan mencetak nilai dari x, yaitu "apple".\
print(y) akan mencetak nilai dari y, yaitu "banana".\
print(z) akan mencetak nilai dari z, yaitu "cherry".\
Teknik membongkar ini sangat berguna ketika Anda memiliki koleksi dengan jumlah elemen yang diketahui dan ingin menugaskan setiap elemen ke variabel yang berbeda dengan cepat. Penting untuk dicatat bahwa jumlah variabel di sisi kiri harus sama dengan jumlah elemen dalam koleksi di sisi kanan.

## **D. Python - Output Variables**

### **a. Output Variables**

In [ ]:
x = "Python is awesome"
print(x)

Python is awesome

In [ ]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [ ]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

Perhatikan karakter spasi setelah "Python " dan "is ", tanpa keduanya hasilnya akan menjadi "Pythonisawesome".

In [ ]:
x = 5
y = 10
print(x + y)

15

In [ ]:
x = 5
y = "Ariel"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

Dalam fungsi print(), saat Anda mencoba menggabungkan string dan angka dengan operator +, Python akan memberi Anda kesalahan:

In [ ]:
x = 5
y = "Ariel"
print(x, y)

5 John

Cara terbaik untuk mengeluarkan beberapa variabel dalam fungsi print() adalah dengan memisahkannya dengan koma, yang bahkan mendukung tipe data yang berbeda:

## **E. Python - Global Variables**

### **a. Global Variables**

In [ ]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

Kode tersebut menunjukkan cara menggunakan variabel global di Python.

x = "awesome": Ini mendefinisikan variabel x di luar fungsi apa pun. Karena didefinisikan di luar fungsi, x menjadi variabel global. Variabel global dapat diakses dari mana saja dalam program, termasuk di dalam fungsi.\
def myfunc():: Ini mendefinisikan sebuah fungsi bernama myfunc.\
print("Python is " + x): Di dalam fungsi myfunc(), baris ini mencetak string "Python is " yang digabungkan dengan nilai dari variabel x.\
Karena x adalah variabel global, fungsi myfunc dapat mengakses dan menggunakan nilainya ("awesome").\
myfunc():\
Baris ini memanggil fungsi myfunc(), yang kemudian akan menjalankan kode di dalamnya dan mencetak output "Python is awesome".\
Jadi, kode ini mendemonstrasikan bahwa variabel yang didefinisikan di luar fungsi (variabel global) dapat diakses dan digunakan di dalam fungsi.

In [ ]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

Kode ini menunjukkan konsep scope variabel di Python, khususnya perbedaan antara variabel global dan variabel lokal dalam fungsi.

x = "awesome": Ini mendefinisikan variabel global x dengan nilai "awesome". Variabel ini dapat diakses dari mana saja dalam kode.\
def myfunc():: Ini mendefinisikan sebuah fungsi bernama myfunc.\
x = "fantastic": Di dalam fungsi myfunc(), baris ini mendefinisikan variabel lokal x dengan nilai "fantastic". Variabel x ini hanya ada di dalam lingkup (scope) fungsi myfunc dan tidak memengaruhi variabel global x yang didefinisikan di luar fungsi.\
print("Python is " + x): Di dalam fungsi myfunc(), baris ini mencetak string "Python is " yang digabungkan dengan nilai dari variabel x. Karena x yang terdekat dan berada dalam lingkup lokal fungsi adalah yang bernilai "fantastic", maka outputnya adalah "Python is fantastic".\
myfunc(): Baris ini memanggil fungsi myfunc(), yang menjalankan kode di dalamnya dan menghasilkan output "Python is fantastic".\
print("Python is " + x): Baris ini berada di luar fungsi myfunc(). Oleh karena itu, saat mencetak nilai x, ia akan menggunakan variabel global x yang nilainya masih "awesome". Outputnya adalah "Python is awesome".\
Jadi, kode ini menunjukkan bahwa meskipun ada variabel dengan nama yang sama (x) di dalam dan di luar fungsi, mereka adalah variabel yang berbeda karena memiliki scope yang berbeda. Perubahan pada variabel lokal di dalam fungsi tidak memengaruhi variabel global di luar fungsi.

### **b. The global Keyword**

In [ ]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

Biasanya, saat Anda membuat variabel di dalam suatu fungsi, variabel tersebut bersifat lokal, dan hanya dapat digunakan di dalam fungsi tersebut.

Untuk membuat variabel global di dalam suatu fungsi, Anda dapat menggunakan kata kunci global.

In [ ]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

Untuk mengubah nilai variabel global di dalam suatu fungsi, rujuk variabel tersebut dengan menggunakan kata kunci global:

# **4. Python Data Types**

## **A. Built-in Data Types**


Built-in Data Types

Python has the following data types built-in by default, in these categories:

Text Type:	str\
Numeric Types:	int, float, complex\
Sequence Types:	list, tuple, range\
Mapping Type:	dict\
Set Types:	set, frozenset\
Boolean Type:	bool\
Binary Types:	bytes, bytearray, memoryview\
None Type:	NoneType

## **B. Getting the Data Type**

In [ ]:
x = 5
print(type(x))

<class 'int'>

## **C. Setting the Data Type**

![image.png]()

In [ ]:
x = "Hello World"
print(type(x))

<class 'str'>

x = "Hello World"	str	\
x = 20	int	\
x = 20.5	float	\
x = 1j	complex
x = ["apple", "banana", "cherry"]	list
x = ("apple", "banana", "cherry")	tuple
x = range(6)	range
x = {"name" : "John", "age" : 36}	dict
x = {"apple", "banana", "cherry"}	set
x = frozenset({"apple", "banana", "cherry"})	frozenset
x = True	bool
x = b"Hello"	bytes
x = bytearray(5)	bytearray
x = memoryview(bytes(5))	memoryview
x = None	NoneType

## **D. Setting the Specific Data Type**

![image.png]()

In [ ]:
x = str("Hello World")
print(x)

Hello World

x = str("Hello World")	str
x = int(20)	int
x = float(20.5)	float
x = complex(1j)	complex
x = list(("apple", "banana", "cherry"))	list
x = tuple(("apple", "banana", "cherry"))	tuple
x = range(6)	range
x = dict(name="John", age=36)	dict
x = set(("apple", "banana", "cherry"))	set
x = frozenset(("apple", "banana", "cherry"))	frozenset
x = bool(5)	bool
x = bytes(5)	bytes
x = bytearray(5)	bytearray
x = memoryview(bytes(5))	memoryview

# **5. Python Numbers**

## **A. There are three numeric types in Python:**

int\
float\
complex

In [ ]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

### **a. int**

In [ ]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

### **b.float**

In [ ]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [ ]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

### **c. complex**

Angka kompleks ditulis dengan "j" sebagai bagian imajiner:

In [ ]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

### **d. Type Conversion**

Anda dapat mengonversi dari satu tipe ke tipe lain dengan metode int(), float(), dan complex():

In [ ]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

### **e. Random Number**

Python tidak memiliki fungsi random() untuk membuat angka acak, tetapi Python memiliki modul bawaan yang disebut random yang dapat digunakan untuk membuat angka acak:

In [ ]:
import random

print(random.randrange(1, 10))

2

# **6. Python Casting**

## **A. Specify a Variable Type**

Mungkin ada saatnya Anda ingin menentukan tipe pada variabel. Ini dapat dilakukan dengan casting. Python adalah bahasa berorientasi objek, dan karenanya menggunakan kelas untuk menentukan tipe data, termasuk tipe primitifnya.

Casting dalam python dilakukan dengan menggunakan fungsi konstruktor:

int() - membangun bilangan integer dari literal integer, literal float (dengan menghapus semua desimal), atau literal string (dengan syarat string tersebut mewakili bilangan bulat)\
float() - membangun bilangan float dari literal integer, literal float, atau literal string (dengan syarat string tersebut mewakili float atau integer)\
str() - membangun string dari berbagai tipe data, termasuk string, literal integer, dan literal float

Integers:

In [ ]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

print(x ,y ,z)

1 2 3

Floats

In [ ]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

print(x ,y ,z ,w)

1.0 2.8 3.0 4.2

Strings

In [ ]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

print(x ,y ,z)

s1 2 3.0

# **7. Python Strings**

## **A. Python Strings**

### **a. Strings**

String dalam python diapit oleh tanda kutip tunggal atau tanda kutip ganda.

'hello' sama dengan "hello".

Anda dapat menampilkan string literal dengan fungsi print():

In [ ]:
print("Hello")
print('Hello')

Hello
Hello

### **b. Quotes Inside Quotes**

In [ ]:
print("It's alright")
print("He is called 'Ariel'")
print('He is called "Ariel"')

It's alright
He is called 'Ariel'
He is called "Ariel"

### **c. Assign String to a Variable**

Menetapkan string ke variabel dilakukan dengan nama variabel diikuti tanda sama dengan dan string:

In [ ]:
a = "Hello"
print(a)

Hello

### **d. Multiline Strings**

Anda dapat menetapkan string multiline ke suatu variabel dengan menggunakan tiga tanda kutip:

In [ ]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [ ]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

### **e. Strings are Arrays**



Seperti banyak bahasa pemrograman populer lainnya, string dalam Python adalah array byte yang mewakili karakter unicode.

Namun, Python tidak memiliki tipe data karakter, satu karakter hanyalah string dengan panjang 1.

Tanda kurung siku dapat digunakan untuk mengakses elemen string.

In [ ]:
a = "Hello, World!"
print(a[7])

W

### **f. Looping Through a String**



Karena string adalah array, kita dapat melakukan pengulangan melalui karakter dalam string, dengan perulangan for.

In [ ]:
for x in "Ariel Shakaramiro":
  print(x)

A
r
i
e
l

S
h
a
k
a
r
a
m
i
r
o

### **g. String Length**



Untuk mendapatkan panjang string, gunakan fungsi len()

In [ ]:
a = "Hello, World!"
print(len(a))

13

### **h. Check String**



Untuk memeriksa apakah frasa atau karakter tertentu ada dalam suatu string, kita dapat menggunakan kata kunci in.

In [ ]:
txt = "The best things in life are free!"
print("best" in txt)

True

Use it in an if statement:

In [ ]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

### **i. Check if NOT**



Untuk memeriksa apakah frasa atau karakter tertentu TIDAK ada dalam suatu string, kita dapat menggunakan kata kunci not in.

In [ ]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [ ]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

## **B. Slicing Strings**

### **a. Python - Slicing Strings**



Anda dapat mengembalikan serangkaian karakter dengan menggunakan sintaksis irisan.

Tentukan indeks awal dan indeks akhir, dipisahkan dengan titik dua, untuk mengembalikan bagian dari string.

Get the characters from position 2 to position 5 (not included):

In [ ]:
b = "Hello, World!"
print(b[2:5])

llo

### **b. Slice From the Start**



Dengan menghilangkan indeks awal, rentang akan dimulai pada karakter pertama:

In [ ]:
b = "Hello, World!"
print(b[:5])

Hello

### **c. Slice To the End**



Dengan menghilangkan indeks akhir, rentangnya akan sampai ke akhir:

In [ ]:
b = "Hello, World!"
print(b[2:])

llo, World!

### **d. Negative Indexing**



Gunakan indeks negatif untuk memulai irisan dari akhir string:

Contoh
Dapatkan karakter:

Dari: "o" di "World!" (posisi -5)

Ke, tetapi tidak termasuk: "d" di "World!" (posisi -2):

In [ ]:
b = "Hello, World!"
print(b[-9:-2])

o, Worl

Kode yang Anda pilih mendemonstrasikan negative indexing atau pengindeksan negatif dalam Python untuk melakukan slicing atau mengiris string dari akhir.

b = "Hello, World!": Baris ini menetapkan string "Hello, World!" ke variabel b.\
print(b[-5:-2]): Baris ini mencetak bagian dari string b menggunakan slicing dengan indeks negatif.
Indeks negatif dihitung dari akhir string, di mana -1 adalah karakter terakhir.\
-5 merujuk pada karakter kelima dari akhir, yaitu huruf "o" di kata "World!".\
-2 merujuk pada karakter kedua dari akhir, yaitu huruf "l" di kata "World!".\
Sintaks [indeks_mulai:indeks_akhir] akan mengambil karakter dari indeks_mulai hingga indeks_akhir, tetapi tidak termasuk karakter pada indeks_akhir.\
Jadi, b[-5:-2] mengambil karakter dari posisi -5 (termasuk) hingga posisi -2 (tidak termasuk). Ini menghasilkan irisan string "orl".

## **C. Modify Strings**

**Python - Modify Strings**

**Upper Case** Metode upper() mengembalikan string dalam huruf besar:

In [ ]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

**Lower Case** Metode lower() mengembalikan string dalam huruf kecil:

In [ ]:
a = "Hello, World!"
print(a.lower())

hello, world!

**Remove Whitespace**\
Whitespace adalah spasi sebelum dan/atau sesudah teks sebenarnya, dan sering kali Anda ingin menghapus spasi ini.

Metode strip() menghapus spasi apa pun dari awal atau akhir:

In [ ]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

**Replace String**

Metode replace() mengganti string dengan string lain:

In [ ]:
a = "Hello, World!"
print(a.replace("o", "D"))

HellD, WDrld!

**Split String**

Metode split() mengembalikan daftar di mana teks di antara pemisah yang ditentukan menjadi item daftar.\
Metode split() membagi string menjadi sub-string jika menemukan contoh pemisah:

In [ ]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

## **D. String Concatenation**

### **a. String Concatenation**


Untuk menggabungkan, atau mengombinasikan, dua string, Anda dapat menggunakan operator +.

In [ ]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [ ]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

## **E. Format - Strings**

### **a. Format Strings**

Seperti yang kita pelajari di bab Variabel Python, kita tidak dapat menggabungkan string dan angka seperti ini:

In [ ]:
age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

Kode ini mencoba menggabungkan string dengan angka menggunakan operator +.

age = 36: Baris ini membuat variabel bernama age dan memberinya nilai integer 36.
txt = "My name is John, I am " + age: Baris ini mencoba menggabungkan string "My name is John, I am " dengan nilai integer dari variabel age.
print(txt): Baris ini mencoba mencetak hasil penggabungan.
Mengapa Ini Menghasilkan Error?

Dalam Python, Anda tidak bisa langsung menggabungkan (mengkonkatenasi) string (str) dengan angka (int atau float) menggunakan operator +. Operator + memiliki arti yang berbeda untuk string (penggabungan) dan untuk angka (penjumlahan). Python tidak secara otomatis mengubah angka menjadi string dalam kasus ini, sehingga muncul TypeError.

Tetapi kita dapat menggabungkan string dan angka dengan menggunakan f-string atau metode format()!\
Untuk menentukan suatu string sebagai f-string, cukup letakkan f di depan literal string, dan tambahkan kurung kurawal {} sebagai tempat penampung untuk variabel dan operasi lainnya.

### **b. F-Strings**

F-String was introduced in Python 3.6, and is now the preferred way of formatting strings.

To specify a string as an f-string, simply put an f in front of the string literal, and add curly brackets {} as placeholders for variables and other operations.

In [ ]:
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

### **c. Placeholders and Modifiers**


Placeholder dapat berisi variabel, operasi, fungsi, dan pengubah untuk memformat nilai.

In [ ]:
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

Placeholder dapat menyertakan pengubah untuk memformat nilai.

Pengubah disertakan dengan menambahkan titik dua : diikuti oleh tipe format yang sah, seperti .2f yang berarti angka titik tetap dengan 2 desimal:

In [ ]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

Placeholder dapat berisi kode Python, seperti operasi matematika:

In [ ]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

## **F. Escape Characters**

**Python - Escape Characters**\
Untuk memasukkan karakter yang ilegal dalam string, gunakan karakter escape.

Karakter escape adalah garis miring terbalik \ diikuti oleh karakter yang ingin Anda masukkan.

Contoh karakter ilegal adalah tanda kutip ganda di dalam string yang dikelilingi oleh tanda kutip ganda:

In [ ]:
txt = "We are the so-called "Vikings" from the north."

SyntaxError: invalid syntax (ipython-input-8-7934146.py, line 1)

Untuk memperbaiki masalah ini, gunakan karakter escape \":

In [ ]:
txt = "We are the so-called \"Vikings\" from the north."

\'	Single Quote
\\	Backslash
\n	New Line
\r	Carriage Return
\t	Tab
\b	Backspace
\f	Form Feed
\ooo	Octal value
\xhh	Hex value

## **G. String Methods**

**Python - String Methods**\
Python memiliki seperangkat metode bawaan yang dapat Anda gunakan pada string.

capitalize() Mengubah karakter pertama menjadi huruf kapital\
casefold() Mengubah string menjadi huruf kecil\
center() Mengembalikan string yang dipusatkan\
count() Mengembalikan jumlah kali nilai tertentu muncul dalam string\
encode() Mengembalikan versi string yang dikodekan\
endswith() Mengembalikan true jika string diakhiri dengan nilai yang ditentukan\
expandtabs() Mengatur ukuran tab string\
find() Mencari string untuk nilai tertentu dan mengembalikan posisi tempat ditemukannya\
format() Memformat nilai tertentu dalam string\
format_map() Memformat nilai tertentu dalam string\
index() Mencari string untuk nilai tertentu dan mengembalikan posisi tempat ditemukannya\
isalnum() Mengembalikan True jika semua karakter dalam string adalah alfanumerik\
isalpha() Mengembalikan True jika semua karakter dalam string adalah alfabet\
isascii() Mengembalikan True jika semua karakter dalam string adalah karakter ascii\
isdecimal() Mengembalikan True jika semua karakter dalam string adalah desimal\
isdigit() Mengembalikan True jika semua karakter dalam string adalah digit\
isidentifier() Mengembalikan True jika string adalah identifier\
islower() Mengembalikan True jika semua karakter dalam string adalah huruf kecil\
isnumeric() Mengembalikan True jika semua karakter dalam string adalah numerik\
isprintable() Mengembalikan True jika semua karakter dalam string dapat dicetak\
isspace() Mengembalikan True jika semua karakter dalam string adalah spasi\
istitle() Mengembalikan True jika string mengikuti aturan judul\
isupper() Mengembalikan True jika semua karakter dalam string adalah huruf besar\
join() Menggabungkan elemen iterable ke akhir string\
ljust() Mengembalikan versi string yang dibenarkan ke kiri\
lower() Mengubah string menjadi huruf kecil\
lstrip() Mengembalikan versi trim kiri dari string\
maketrans() Mengembalikan tabel translasi yang akan digunakan dalam translasi\
partition() Mengembalikan tuple tempat string dibagi menjadi tiga bagian\
replace() Mengembalikan string tempat nilai yang ditentukan diganti dengan nilai yang ditentukan\
rfind() Mencari string untuk nilai yang ditentukan dan mengembalikan posisi terakhir tempat ditemukannya\
rindex() Mencari string untuk nilai yang ditentukan dan mengembalikan posisi terakhir tempat ditemukannya\
rjust() Mengembalikan versi string yang dibenarkan ke kanan\
rpartition() Mengembalikan tuple tempat string dibagi menjadi tiga bagian\
rsplit() Membagi string pada pemisah yang ditentukan, dan mengembalikan daftar\
rstrip() Mengembalikan versi string yang dipotong ke kanan\
split() Membagi string pada pemisah yang ditentukan, dan mengembalikan daftar\
splitlines() Membagi string pada jeda baris dan mengembalikan daftar\
startswith() Mengembalikan true jika string dimulai dengan nilai yang ditentukan\
strip() Mengembalikan versi string yang dipangkas\
swapcase() Menukar huruf besar/kecil, huruf kecil menjadi huruf besar dan sebaliknya\
title() Mengubah karakter pertama setiap kata menjadi huruf besar\
translate() Mengembalikan string yang diterjemahkan\
upper() Mengubah string menjadi huruf besar\
zfill() Mengisi string dengan sejumlah nilai 0 yang ditentukan di awal\

# **8. Python Booleans**

## **A. Boolean Values**


Nilai Boolean
Dalam pemrograman, Anda sering kali perlu mengetahui apakah suatu ekspresi bernilai Benar atau Salah.

Anda dapat mengevaluasi ekspresi apa pun dalam Python, dan mendapatkan satu dari dua jawaban, Benar atau Salah.

Saat Anda membandingkan dua nilai, ekspresi tersebut dievaluasi dan Python mengembalikan jawaban Boolean:

In [ ]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

Ketika Anda menjalankan suatu kondisi dalam pernyataan if, Python mengembalikan True atau False:

In [ ]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

## **B. Evaluate Values and Variables**

Mengevaluasi Nilai dan Variabel
Fungsi bool() memungkinkan Anda mengevaluasi nilai apa pun, dan memberikan Anda Benar atau Salah sebagai balasannya,

In [ ]:
print(bool("Hello"))
print(bool(15))

True
True

In [ ]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

## **C. Most Values are True**


Hampir semua nilai dievaluasi menjadi Benar jika memiliki beberapa jenis konten.

Semua string adalah Benar, kecuali string kosong.

Semua angka adalah Benar, kecuali 0.

Semua daftar, tupel, set, dan kamus adalah Benar, kecuali yang kosong.

In [ ]:
bool("abc")
bool(123)
bool(["apple", "cherry", "banana"])

True

## **D. Some Values are False**


Faktanya, tidak banyak nilai yang bernilai False, kecuali nilai kosong, seperti (), [], {}, "", angka 0, dan nilai None. Dan tentu saja nilai False bernilai False.

In [ ]:
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

Satu nilai lagi, atau objek dalam kasus ini, dievaluasi menjadi Salah, dan itu jika Anda memiliki objek yang dibuat dari kelas dengan fungsi __len__ yang mengembalikan 0 atau Salah:

In [ ]:
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

Kode ini mendemonstrasikan bagaimana sebuah objek yang dibuat dari kelas kustom dapat berperilaku seperti nilai boolean False jika kelas tersebut memiliki metode __len__ yang mengembalikan 0.

class myclass():: Ini mendefinisikan sebuah kelas Python bernama myclass.
def __len__(self):: Di dalam kelas myclass, ini mendefinisikan metode khusus bernama __len__. Metode ini dipanggil ketika Anda menggunakan fungsi bawaan len() pada objek dari kelas ini. Dalam kasus ini, metode ini diatur untuk selalu mengembalikan nilai integer 0.
myobj = myclass(): Ini membuat sebuah instance (objek) baru dari kelas myclass dan menugaskannya ke variabel myobj.
print(bool(myobj)): Ini menggunakan fungsi bawaan bool() untuk mengevaluasi nilai boolean dari objek myobj dan kemudian mencetak hasilnya.
Mengapa Outputnya False?

Dalam Python, banyak objek dievaluasi menjadi True dalam konteks boolean (seperti dalam pernyataan if). Namun, beberapa objek dianggap False. Objek yang kosong, seperti string kosong (""), list kosong ([]), tuple kosong (()), dictionary kosong ({}), set kosong ({}), dan nilai None, semuanya dievaluasi menjadi False.

Python juga memiliki aturan khusus untuk objek yang memiliki metode __len__. Jika metode __len__ ada dan mengembalikan 0, maka objek tersebut akan dievaluasi menjadi False ketika dilewatkan ke fungsi bool() atau digunakan dalam konteks boolean.

Karena kelas myclass memiliki metode __len__ yang mengembalikan 0, objek myobj dievaluasi sebagai False oleh fungsi bool().

Jadi, kode ini menunjukkan bagaimana Anda dapat membuat objek kustom yang mengevaluasi menjadi False dalam konteks boolean dengan mendefinisikan metode __len__ yang mengembalikan 0.

## **E. Functions can Return a Boolean**


Anda dapat membuat fungsi yang mengembalikan Nilai Boolean:

In [ ]:
def myFunction() :
  return True

print(myFunction())

True

In [ ]:
def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

Python juga memiliki banyak fungsi bawaan yang mengembalikan nilai boolean, seperti fungsi isinstance(), yang dapat digunakan untuk menentukan apakah suatu objek memiliki tipe data tertentu:

In [ ]:
x = 200
print(isinstance(x, int))

True

# **9. Python Operators**

In [ ]:
print(10 + 5)

15

## **A. Python Arithmetic Operators**

In [ ]:
x = 12
y = 3

print(x + y)
print(x - y)
print(x * y)
print(x / y)
print(x % y)
print(x ** y) #same as 2*2*2*2*2
print(x // y)

#the floor division // rounds the result down to the nearest whole number

15
9
36
4.0
0
1728
4

## **B. Python Assignment Operators**

In [ ]:
x = 5

print(x)
# x = 5

5

In [ ]:
x = 5

x += 3

print(x)
# x = x + 3

8

In [ ]:
x = 5

x -= 3

print(x)
# x = x - 3

2

In [ ]:
x = 5

x *= 3

print(x)
# x = x * 3

15

In [ ]:
x = 5

x /= 3

print(x)
# x = x / 3

1.6666666666666667

In [ ]:
x = 5

x%=3

print(x)
# x = x % 3

2

In [ ]:
x = 5

x//=3

print(x)
# x = x // 3

1

In [ ]:
x = 5

x **= 3

print(x)
# x = x ** 3

125

In [ ]:
x = 5

x &= 3

print(x)
# 	x = x & 3

1

In [ ]:
x = 5

x |= 3

print(x)
# x = x | 3

7

In [ ]:
x = 5

x ^= 3

print(x)
# x = x ^ 3

6

In [ ]:
x = 5

x >>= 3

print(x)
# x = x >> 3

0

In [ ]:
x = 5

x <<= 3

print(x)
# x = x << 3

40

In [ ]:
print(x := 3)
"""
x = 3
print(x)
"""

3

'\nx = 3\nprint(x)\n'

## **C. Python Comparison Operators**

![image.png]()

In [ ]:
x = 5
y = 3

print(x == y)
# returns False because 5 is not equal to 3
print(x != y)
# returns True because 5 is not equal to 3
print(x > y)
# returns True because 5 is greater than 3
print(x < y)
# returns False because 5 is not less than 3
print(x >= y)
# returns True because five is greater, or equal, to 3
print(x <= y)
# returns False because 5 is neither less than or equal to 3

False
True
True
False
True
False

## **D. Python Logical Operators**


![image.png]()

In [ ]:
x = 5

print(x > 3 and x < 10)

# mengembalikan True karena 5 lebih besar dari 3 DAN 5 lebih kecil dari 10

print(x > 3 or x < 4)

# mengembalikan True karena salah satu kondisinya benar (5 lebih besar dari 3, tetapi 5 tidak kurang dari 4)

print(not(x > 3 and x < 10))

# mengembalikan False karena not digunakan untuk membalikkan hasil

True
True
False

## **E. Python Identity Operators**


![image.png]()

In [ ]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)
# mengembalikan True karena z adalah objek yang sama dengan x
print(x is y)
# mengembalikan False karena x bukan objek yang sama dengan y, meskipun keduanya memiliki konten yang sama
print(x == y)
# untuk menunjukkan perbedaan antara "is" dan "==": perbandingan ini mengembalikan True karena x sama dengan y
print(x is not z)
# mengembalikan False karena z adalah objek yang sama dengan x
print(x is not y)
# mengembalikan True karena x bukan objek yang sama dengan y, meskipun keduanya memiliki konten yang sama
print(x != y)
# untuk menunjukkan perbedaan antara "bukan" dan "!=": perbandingan ini mengembalikan False karena x sama dengan y

True
False
True
False
True
False

## **F. Python Membership Operators**


![image.png]()

In [ ]:
x = ["apple", "banana"]

print("banana" in x)
# mengembalikan True karena urutan dengan nilai "pisang" ada dalam list
print("pineapple" not in x)
# mengembalikan True karena urutan dengan nilai "nanas" tidak ada dalam list

True
True

## **G. Python Bitwise Operators**


![image.png]()

Menetapkan setiap bit menjadi 1 jika kedua bit adalah 1
Menetapkan setiap bit menjadi 1 jika salah satu dari dua bit adalah 1
Menetapkan setiap bit menjadi 1 jika hanya satu dari dua bit adalah 1  
Membalikkan semua bit
Zero fill left shift Geser ke kiri dengan mendorong nol dari kanan dan membiarkan bit paling kiri jatuh
Signed right shift Geser ke kanan dengan mendorong salinan bit paling kiri dari kiri, dan membiarkan bit paling kanan jatuh

In [ ]:
print(6 & 3)

"""
Operator & membandingkan setiap bit dan menetapkannya ke 1 jika keduanya bernilai 1, jika tidak maka ditetapkan ke 0:

6 = 0000000000000110
3 = 0000000000000011
--------------------
2 = 0000000000000010
====================

Angka desimal dan nilai binernya:
0 = 0000000000000000
1 = 0000000000000001
2 = 0000000000000010
3 = 0000000000000011
4 = 0000000000000100
5 = 0000000000000101
6 = 0000000000000110
7 = 0000000000000111
"""

2

'\nOperator & membandingkan setiap bit dan menetapkannya ke 1 jika keduanya bernilai 1, jika tidak maka ditetapkan ke 0:\n\n6 = 0000000000000110\n3 = 0000000000000011\n--------------------\n2 = 0000000000000010\n====================\n\nAngka desimal dan nilai binernya:\n0 = 0000000000000000\n1 = 0000000000000001\n2 = 0000000000000010\n3 = 0000000000000011\n4 = 0000000000000100\n5 = 0000000000000101\n6 = 0000000000000110\n7 = 0000000000000111\n'

Kode ini mendemonstrasikan penggunaan operator Bitwise AND (&) dalam Python.

print(6 & 3): Baris ini menggunakan operator Bitwise AND (&) pada dua angka, 6 dan 3, kemudian mencetak hasilnya.
Bagaimana Operator Bitwise AND Bekerja?

Operator Bitwise AND membandingkan setiap bit (digit biner, 0 atau 1) dari dua angka pada posisi yang sama. Jika kedua bit pada posisi yang sama adalah 1, maka bit hasilnya pada posisi tersebut adalah 1. Jika salah satu atau kedua bit adalah 0, maka bit hasilnya adalah 0.

Mari kita lihat representasi biner dari angka 6 dan 3:

Angka 6 dalam biner (dengan 8 bit untuk contoh): 0000 0110
Angka 3 dalam biner (dengan 8 bit untuk contoh): 0000 0011
Sekarang, kita bandingkan bit per bit dari kanan ke kiri:

Bit paling kanan: 0 (dari 6) & 1 (dari 3) = 0
Bit kedua dari kanan: 1 (dari 6) & 1 (dari 3) = 1
Bit ketiga dari kanan: 1 (dari 6) & 0 (dari 3) = 0
Bit keempat dari kanan: 0 (dari 6) & 0 (dari 3) = 0
Dan seterusnya, semua bit di sebelah kiri adalah 0 & 0 = 0.
Jadi, hasil dalam biner adalah 0000 0010.

Hasil Desimal

Representasi biner 0000 0010 setara dengan angka desimal 2.

Oleh karena itu, output dari print(6 & 3) adalah 2.

In [ ]:
print(6 | 3)



"""
The | operator compares each bit and set it to 1 if one or both is 1, otherwise it is set to 0:

6 = 0000000000000110
3 = 0000000000000011
--------------------
7 = 0000000000000111
====================
"""

7

'\nThe | operator compares each bit and set it to 1 if one or both is 1, otherwise it is set to 0:\n\n6 = 0000000000000110\n3 = 0000000000000011\n--------------------\n7 = 0000000000000111\n====================\n'

In [ ]:
print(6 ^ 3)



"""
The ^ operator compares each bit and set it to 1 if only one is 1, otherwise (if both are 1 or both are 0) it is set to 0:

6 = 0000000000000110
3 = 0000000000000011
--------------------
5 = 0000000000000101
====================
"""

5

'\nThe ^ operator compares each bit and set it to 1 if only one is 1, otherwise (if both are 1 or both are 0) it is set to 0:\n\n6 = 0000000000000110\n3 = 0000000000000011\n--------------------\n5 = 0000000000000101\n====================\n'

In [ ]:
print(~3)



"""
The ~ operator inverts each bit (0 becomes 1 and 1 becomes 0).

Inverted 3 becomes -4:
 3 = 0000000000000011
-4 = 1111111111111100

Decimal numbers and their binary values:
 4 = 0000000000000100
 3 = 0000000000000011
 2 = 0000000000000010
 1 = 0000000000000001
 0 = 0000000000000000
-1 = 1111111111111111
-2 = 1111111111111110
-3 = 1111111111111101
-4 = 1111111111111100
"""

-4

'\nThe ~ operator inverts each bit (0 becomes 1 and 1 becomes 0).\n\nInverted 3 becomes -4:\n 3 = 0000000000000011\n-4 = 1111111111111100\n\nDecimal numbers and their binary values:\n 4 = 0000000000000100\n 3 = 0000000000000011\n 2 = 0000000000000010\n 1 = 0000000000000001\n 0 = 0000000000000000\n-1 = 1111111111111111\n-2 = 1111111111111110\n-3 = 1111111111111101\n-4 = 1111111111111100\n'

In [ ]:
print(3 << 2)



"""
The << operator inserts the specified number of 0's (in this case 2) from the right and let the same amount of leftmost bits fall off:

If you push 00 in from the left:
 3 = 0000000000000011
becomes
12 = 0000000000001100

Decimal numbers and their binary values:
 0 = 0000000000000000
 1 = 0000000000000001
 2 = 0000000000000010
 3 = 0000000000000011
 4 = 0000000000000100
 5 = 0000000000000101
 6 = 0000000000000110
 7 = 0000000000000111
 8 = 0000000000001000
 9 = 0000000000001001
10 = 0000000000001010
11 = 0000000000001011
12 = 0000000000001100
"""

12

"\nThe << operator inserts the specified number of 0's (in this case 2) from the right and let the same amount of leftmost bits fall off:\n\nIf you push 00 in from the left:\n 3 = 0000000000000011\nbecomes\n12 = 0000000000001100\n\nDecimal numbers and their binary values:\n 0 = 0000000000000000\n 1 = 0000000000000001\n 2 = 0000000000000010\n 3 = 0000000000000011\n 4 = 0000000000000100\n 5 = 0000000000000101\n 6 = 0000000000000110\n 7 = 0000000000000111\n 8 = 0000000000001000\n 9 = 0000000000001001\n10 = 0000000000001010\n11 = 0000000000001011\n12 = 0000000000001100\n"

In [ ]:
print(8 >> 2)



"""
The >> operator moves each bit the specified number of times to the right. Empty holes at the left are filled with 0's.

If you move each bit 2 times to the right, 8 becomes 2:
 8 = 0000000000001000
becomes
 2 = 0000000000000010

Decimal numbers and their binary values:
 0 = 0000000000000000
 1 = 0000000000000001
 2 = 0000000000000010
 3 = 0000000000000011
 4 = 0000000000000100
 5 = 0000000000000101
 6 = 0000000000000110
 7 = 0000000000000111
 8 = 0000000000001000
 9 = 0000000000001001
10 = 0000000000001010
11 = 0000000000001011
12 = 0000000000001100
"""

2

"\nThe >> operator moves each bit the specified number of times to the right. Empty holes at the left are filled with 0's.\n\nIf you move each bit 2 times to the right, 8 becomes 2:\n 8 = 0000000000001000\nbecomes\n 2 = 0000000000000010\n\nDecimal numbers and their binary values:\n 0 = 0000000000000000\n 1 = 0000000000000001\n 2 = 0000000000000010\n 3 = 0000000000000011\n 4 = 0000000000000100\n 5 = 0000000000000101\n 6 = 0000000000000110\n 7 = 0000000000000111\n 8 = 0000000000001000\n 9 = 0000000000001001\n10 = 0000000000001010\n11 = 0000000000001011\n12 = 0000000000001100\n"

## **H. Operator Precedence**

![image.png]()

In [ ]:
print((6 + 3) - (6 + 3))
"""
Tanda kurung memiliki prioritas tertinggi, dan perlu dievaluasi terlebih dahulu.
Perhitungan di atas menunjukkan 9 - 9 = 0
"""

0

'\nTanda kurung memiliki prioritas tertinggi, dan perlu dievaluasi terlebih dahulu.\nPerhitungan di atas menunjukkan 9 - 9 = 0\n'

In [ ]:
print(100 + 5 * 3)
"""
Eksponen memiliki prioritas lebih tinggi daripada pengurangan, dan perlu dievaluasi terlebih dahulu.
Perhitungan di atas menunjukkan 100 - 27 = 73
"""

115

'\nEksponen memiliki prioritas lebih tinggi daripada pengurangan, dan perlu dievaluasi terlebih dahulu.\nPerhitungan di atas menunjukkan 100 - 27 = 73\n'

In [ ]:
print(100 + ~3)

"""
Bitwise NOT memiliki prioritas lebih tinggi daripada penjumlahan, dan perlu dievaluasi terlebih dahulu.
Perhitungan di atas berbunyi 100 + -4 = 96
"""

96

'\nBitwise NOT memiliki prioritas lebih tinggi daripada penjumlahan, dan perlu dievaluasi terlebih dahulu.\nPerhitungan di atas berbunyi 100 + -4 = 96\n'

In [ ]:
print(100 + 5 * 3)

"""
Perkalian memiliki prioritas lebih tinggi daripada penjumlahan, dan perlu dievaluasi terlebih dahulu.
Perhitungan di atas berbunyi 100 + 15 = 115
"""

115

'\nPerkalian memiliki prioritas lebih tinggi daripada penjumlahan, dan perlu dievaluasi terlebih dahulu.\nPerhitungan di atas berbunyi 100 + 15 = 115\n'

In [ ]:
print(100 - 5 * 3)

"""
Pengurangan memiliki prioritas lebih rendah daripada perkalian, dan kita perlu menghitung perkalian terlebih dahulu.
Perhitungan di atas berbunyi 100 - 15 = 85
"""

85

'\nPengurangan memiliki prioritas lebih rendah daripada perkalian, dan kita perlu menghitung perkalian terlebih dahulu.\nPerhitungan di atas berbunyi 100 - 15 = 85\n'

In [ ]:
print(8 >> 4 - 2)

"""
Pergeseran bit ke kanan memiliki prioritas lebih rendah daripada pengurangan, dan kita perlu menghitung pengurangan terlebih dahulu.
Perhitungan di atas berbunyi 8 >> 2 = 2

Penjelasan lebih lanjut:
Operator >> memindahkan setiap bit ke kanan sebanyak jumlah yang ditentukan. Lubang kosong di sebelah kiri diisi dengan angka 0.

Jika Anda memindahkan setiap bit 2 kali ke kanan, 8 menjadi 2:
8 = 00000000000001000
menjadi
2 = 00000000000000010

Decimal numbers and their binary values:
 0 = 0000000000000000
 1 = 0000000000000001
 2 = 0000000000000010
 3 = 0000000000000011
 4 = 0000000000000100
 5 = 0000000000000101
 6 = 0000000000000110
 7 = 0000000000000111
 8 = 0000000000001000
 9 = 0000000000001001
10 = 0000000000001010
11 = 0000000000001011
12 = 0000000000001100
"""

2

'\nPergeseran bit ke kanan memiliki prioritas lebih rendah daripada pengurangan, dan kita perlu menghitung pengurangan terlebih dahulu.\nPerhitungan di atas berbunyi 8 >> 2 = 2\n\nPenjelasan lebih lanjut:\nOperator >> memindahkan setiap bit ke kanan sebanyak jumlah yang ditentukan. Lubang kosong di sebelah kiri diisi dengan angka 0.\n\nJika Anda memindahkan setiap bit 2 kali ke kanan, 8 menjadi 2:\n8 = 00000000000001000\nmenjadi\n2 = 00000000000000010\n\nDecimal numbers and their binary values:\n 0 = 0000000000000000\n 1 = 0000000000000001\n 2 = 0000000000000010\n 3 = 0000000000000011\n 4 = 0000000000000100\n 5 = 0000000000000101\n 6 = 0000000000000110\n 7 = 0000000000000111\n 8 = 0000000000001000\n 9 = 0000000000001001\n10 = 0000000000001010\n11 = 0000000000001011\n12 = 0000000000001100\n'

In [ ]:
print(6 & 2 + 1)

"""
Bitwise AND memiliki prioritas lebih rendah daripada penjumlahan, dan kita perlu menghitung penjumlahan terlebih dahulu.
Perhitungan di atas berbunyi 6 & 3 = 2

Penjelasan lebih lanjut:
Operator & membandingkan setiap bit dan menyetelnya ke 1 jika keduanya bernilai 1, jika tidak, maka akan ditetapkan ke 0:

6 = 0000000000000110
3 = 0000000000000011
--------------------
2 = 0000000000000010
=====

Decimal numbers and their binary values:
0 = 0000000000000000
1 = 0000000000000001
2 = 0000000000000010
3 = 0000000000000011
4 = 0000000000000100
5 = 0000000000000101
6 = 0000000000000110
7 = 0000000000000111
"""

2

'\nBitwise AND memiliki prioritas lebih rendah daripada penjumlahan, dan kita perlu menghitung penjumlahan terlebih dahulu.\nPerhitungan di atas berbunyi 6 & 3 = 2\n\u200b\nPenjelasan lebih lanjut:\nOperator & membandingkan setiap bit dan menyetelnya ke 1 jika keduanya bernilai 1, jika tidak, maka akan ditetapkan ke 0:\n\u200b\n6 = 0000000000000110\n3 = 0000000000000011\n--------------------\n2 = 0000000000000010\n=====\n\u200b\nDecimal numbers and their binary values:\n0 = 0000000000000000\n1 = 0000000000000001\n2 = 0000000000000010\n3 = 0000000000000011\n4 = 0000000000000100\n5 = 0000000000000101\n6 = 0000000000000110\n7 = 0000000000000111\n'

In [ ]:
print(6 ^ 2 + 1)

"""
Bitwise XOR memiliki prioritas lebih rendah daripada penjumlahan, dan kita perlu menghitung penjumlahan terlebih dahulu.
Perhitungan di atas berbunyi 6 ^ 3 = 5

Penjelasan lebih lanjut:
Operator ^ membandingkan setiap bit dan menetapkannya ke 1 jika hanya satu yang bernilai 1, jika tidak (jika keduanya bernilai 1 atau keduanya bernilai 0) ditetapkan ke 0:

6 = 00000000000000110
3 = 00000000000000011
--------------------
5 = 00000000000000101
====================

Decimal numbers and their binary values:
0 = 0000000000000000
1 = 0000000000000001
2 = 0000000000000010
3 = 0000000000000011
4 = 0000000000000100
5 = 0000000000000101
6 = 0000000000000110
7 = 0000000000000111
"""

5

'\nBitwise XOR memiliki prioritas lebih rendah daripada penjumlahan, dan kita perlu menghitung penjumlahan terlebih dahulu.\nPerhitungan di atas berbunyi 6 ^ 3 = 5\n\nPenjelasan lebih lanjut:\nOperator ^ membandingkan setiap bit dan menetapkannya ke 1 jika hanya satu yang bernilai 1, jika tidak (jika keduanya bernilai 1 atau keduanya bernilai 0) ditetapkan ke 0:\n\n6 = 00000000000000110\n3 = 00000000000000011\n--------------------\n5 = 00000000000000101\n====================\n\nDecimal numbers and their binary values:\n0 = 0000000000000000\n1 = 0000000000000001\n2 = 0000000000000010\n3 = 0000000000000011\n4 = 0000000000000100\n5 = 0000000000000101\n6 = 0000000000000110\n7 = 0000000000000111\n'

In [ ]:
print(6 | 2 + 1)

"""
Bitwise OR memiliki prioritas lebih rendah daripada penjumlahan, dan kita perlu menghitung penjumlahan terlebih dahulu.
Perhitungan di atas berbunyi 6 | 3 = 7

Penjelasan lebih lanjut:
Operator | membandingkan setiap bit dan menetapkannya ke 1 jika satu atau keduanya bernilai 1, jika tidak, ditetapkan ke 0:

6 = 00000000000000110
3 = 00000000000000011
--------------------
7 = 00000000000000111
====================

Decimal numbers and their binary values:
0 = 0000000000000000
1 = 0000000000000001
2 = 0000000000000010
3 = 0000000000000011
4 = 0000000000000100
5 = 0000000000000101
6 = 0000000000000110
7 = 0000000000000111
"""

7

'\nBitwise OR memiliki prioritas lebih rendah daripada penjumlahan, dan kita perlu menghitung penjumlahan terlebih dahulu.\nPerhitungan di atas berbunyi 6 | 3 = 7\n\nPenjelasan lebih lanjut:\nOperator | membandingkan setiap bit dan menetapkannya ke 1 jika satu atau keduanya bernilai 1, jika tidak, ditetapkan ke 0:\n\n6 = 00000000000000110\n3 = 00000000000000011\n--------------------\n7 = 00000000000000111\n====================\n\nDecimal numbers and their binary values:\n0 = 0000000000000000\n1 = 0000000000000001\n2 = 0000000000000010\n3 = 0000000000000011\n4 = 0000000000000100\n5 = 0000000000000101\n6 = 0000000000000110\n7 = 0000000000000111\n'

In [ ]:
print(5 == 4 + 1)

"""
Perbandingan "seperti" memiliki prioritas lebih rendah daripada penjumlahan, dan kita perlu menghitung penjumlahan terlebih dahulu.
Perhitungan di atas berbunyi 5 == 5 = Benar
"""

True

'\nPerbandingan "seperti" memiliki prioritas lebih rendah daripada penjumlahan, dan kita perlu menghitung penjumlahan terlebih dahulu.\nPerhitungan di atas berbunyi 5 == 5 = Benar\n'

In [ ]:
print(not 5 == 5)

"""
Operator logika NOT memiliki prioritas lebih rendah daripada perbandingan "serupa", dan kita perlu menghitung perbandingannya terlebih dahulu.
Perhitungan di atas berbunyi: tidak Benar = Salah
"""

False

'\nOperator logika NOT memiliki prioritas lebih rendah daripada perbandingan "serupa", dan kita perlu menghitung perbandingannya terlebih dahulu.\nPerhitungan di atas berbunyi: tidak Benar = Salah\n'

In [ ]:
print(1 or 2 and 3)

"""
Operator and memiliki prioritas lebih tinggi daripada or, dan kita perlu menghitung ekspresi and terlebih dahulu.
Perhitungan di atas berbunyi: 1 atau 3 = 1
"""

1

'\nOperator and memiliki prioritas lebih tinggi daripada or, dan kita perlu menghitung ekspresi and terlebih dahulu.\nPerhitungan di atas berbunyi: 1 atau 3 = 1\n'

In [ ]:
print(4 or 5 + 10 or 8)

"""
Operator or memiliki prioritas lebih rendah daripada penjumlahan, dan kita perlu menghitung penjumlahan terlebih dahulu.
Perhitungan di atas berbunyi: 4 atau 15 atau 8 = 4
"""

4

'\nOperator or memiliki prioritas lebih rendah daripada penjumlahan, dan kita perlu menghitung penjumlahan terlebih dahulu.\nPerhitungan di atas berbunyi: 4 atau 15 atau 8 = 4\n'

In [ ]:
print(5 + 4 - 7 + 3)

5

# **10. Python Lists**

## **A. Python Lists**

### **a. List**

Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

### **b. List Items**

List items are ordered, changeable, and allow duplicate values.

List items are indexed, the first item has index [0], the second item has index [1] etc.

### **c. Ordered**

When we say that lists are ordered, it means that the items have a defined order, and that order will not change.

If you add new items to a list, the new items will be placed at the end of the list.

### **d. Changeable**

The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.

### **e. Allow Duplicates**

In [ ]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

### **f. List Length**

To determine how many items a list has, use the len() function:

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

### **g. List Items - Data Types**

In [ ]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

In [ ]:
list1 = ["abc", 34, True, 40, "male"]

### **h. type()**

In [ ]:
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

### **i. The list() Constructor**

In [ ]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

### **j. Python Collections (Arrays)**

List is a collection which is ordered and changeable. Allows duplicate members.

Tuple is a collection which is ordered and unchangeable. Allows duplicate members.

Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.

Dictionary is a collection which is ordered** and changeable. No duplicate members.

## **B. Access List Items**

### **a. Access Items**

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

### **b. Negative Indexing**

-1 refers to the last item, -2 refers to the second last item etc.

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

### **c. Range of Indexes**

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

By leaving out the start value, the range will start at the first item:

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

By leaving out the end value, the range will go on to the end of the list:

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

### **d. Range of Negative Indexes**

Specify negative indexes if you want to start the search from the end of the list:

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

### **e. Check if Item Exists**

To determine if a specified item is present in a list use the in keyword:

In [ ]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

## **C. Change Item Value**

### **a. Change Item Value**

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

### **b. Change a Range of Item Values**

Change the values "banana" and "cherry" with the values "blackcurrant" and "watermelon":

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

Jika Anda memasukkan lebih banyak item daripada yang Anda ganti, item baru akan dimasukkan di tempat yang Anda tentukan, dan item yang tersisa akan dipindahkan sesuai dengan urutannya:

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

Jika Anda memasukkan item yang lebih sedikit daripada yang Anda ganti, item baru akan dimasukkan di tempat yang Anda tentukan, dan item yang tersisa akan dipindahkan sesuai dengan urutannya:

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

### **c. Insert Items**

Untuk memasukkan item daftar baru, tanpa mengganti nilai yang sudah ada, kita dapat menggunakan metode insert().

Metode insert() memasukkan item pada indeks yang ditentukan:

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

## **D. Add List Items**

### **a. Append Items**

Untuk menambahkan item ke akhir daftar, gunakan metode append():

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

### **b. Insert Items**

Untuk memasukkan item daftar pada indeks tertentu, gunakan metode insert().

Metode insert() menyisipkan item pada indeks tertentu:

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

### **c. Extend List**

Untuk menambahkan elemen dari daftar lain ke daftar saat ini, gunakan metode extend()

In [ ]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

### **d. Add Any Iterable**

Metode extend() tidak harus menambahkan daftar, Anda dapat menambahkan objek apa pun yang dapat diulang (tupel, set, kamus, dll.).

In [ ]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

## **E. Remove List Items**

### **a. Remove Specified Item**

Metode remove() menghapus item yang ditentukan.

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

Jika ada lebih dari satu item dengan nilai yang ditentukan, metode remove() menghapus kemunculan pertama:

Hapus kemunculan pertama "banana":

In [ ]:
thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry', 'banana', 'kiwi']

### **b. Remove Specified Index**

Metode pop() menghapus indeks yang ditentukan.

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

Jika Anda tidak menentukan indeks, metode pop() akan menghapus item terakhir.

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

Kata kunci del juga menghapus indeks yang ditentukan:

In [ ]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

Kata kunci del juga dapat menghapus daftar sepenuhnya.

In [ ]:
thislist = ["apple", "banana", "cherry"]
del thislist

### **c. Clear the List**

Metode clear() mengosongkan daftar.

Daftar tersebut tetap ada, tetapi tidak memiliki konten.

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

## **F. Loop Lists**

### **a. Loop Through a List**

Anda dapat melakukan pengulangan melalui item dalam daftar dengan menggunakan perulangan for:

In [ ]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

### **b. Loop Through the Index Numbers**

Anda juga dapat melakukan pengulangan melalui item-item dalam daftar dengan merujuk ke nomor indeksnya.

Gunakan fungsi range() dan len() untuk membuat iterable yang sesuai.

In [ ]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[1])

banana
banana
banana

Iterable yang dibuat dalam contoh di atas adalah [0, 1, 2].

### **c. Using a While Loop**

Anda dapat melakukan pengulangan melalui item-item dalam daftar dengan menggunakan pengulangan while.

Gunakan fungsi len() untuk menentukan panjang daftar, lalu mulai dari 0 dan lakukan pengulangan melalui item-item dalam daftar dengan merujuk ke indeksnya.

Ingatlah untuk menambah indeks sebanyak 1 setelah setiap iterasi.

In [ ]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

### **d. Looping Using List Comprehension**

In [ ]:
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

## **G. List Comprehension**

### **a. List Comprehension**

Pemahaman daftar menawarkan sintaksis yang lebih pendek saat Anda ingin membuat daftar baru berdasarkan nilai dari daftar yang sudah ada.

Contoh:

Berdasarkan daftar buah-buahan, Anda menginginkan daftar baru yang hanya berisi buah-buahan dengan huruf "a" pada namanya.

Tanpa pemahaman daftar, Anda harus menulis pernyataan for dengan pengujian kondisional di dalamnya:

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

Dengan pemahaman daftar, Anda dapat melakukan semua itu hanya dengan satu baris kode:

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

### **b. The Syntax**

In [ ]:
newlist = [expression for item in iterable if condition == True]

The return value is a new list, leaving the old list unchanged.

Condition

Kondisi ini seperti filter yang hanya menerima item yang bernilai Benar.

In [ ]:
newlist = [x for x in fruits if x != "apple"]
print(newlist)

['banana', 'cherry', 'kiwi', 'mango']

Kondisi if x != "apple" akan mengembalikan True untuk semua elemen selain "apple", sehingga daftar baru akan berisi semua buah kecuali "apple".

Kondisi ini bersifat opsional dan dapat diabaikan:

In [ ]:
newlist = [x for x in fruits]
print(newlist)

['apple', 'banana', 'cherry', 'kiwi', 'mango']

Iterable

Yang dapat diulang dapat berupa objek apa saja, seperti daftar, tupel, himpunan, dan sebagainya.

In [ ]:
newlist = [x for x in range(10)]
print(newlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
newlist = [x for x in range(10) if x < 5]
print(newlist)

[0, 1, 2, 3, 4]

Expression

Ekspresi adalah item saat ini dalam iterasi, tetapi juga merupakan hasil, yang dapat Anda manipulasi sebelum berakhir seperti item daftar dalam daftar baru:

In [ ]:
newlist = [x.upper() for x in fruits]
print(newlist)

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [ ]:
newlist = ['hello' for x in fruits]
print(newlist)

['hello', 'hello', 'hello', 'hello', 'hello']

Ekspresi tersebut juga dapat berisi kondisi, bukan seperti filter, tetapi sebagai cara untuk memanipulasi hasilnya:

In [ ]:
newlist = [x if x != "banana" else "orange" for x in fruits]
print(newlist)

['apple', 'orange', 'cherry', 'kiwi', 'mango']